<div class="container " style="margin-top: 100px;">

  <div class="row">

    <!-- Left Portion -->
    <div class="col-md-3 col-sm-3 center-content pt-1">
     <a class="">
      <div class="d-flex m-1 " style="justify-content: space-between;">
         
        <div class="d-flex">
          <div>
            <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
          </div>
          <div style="margin-left: 10px;">
            <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
            <p style="font-size: xx-small;">come play carrom with me </p>
          </div>
        </div>
        <div>
          <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
        </div>
      </div>
     </a>
     <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
         <a class="">
          <div class="d-flex m-1 " style="justify-content: space-between;">
             
            <div class="d-flex">
              <div>
                <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
              </div>
              <div style="margin-left: 10px;">
                <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
                <p style="font-size: xx-small;">come play carrom with me </p>
              </div>
            </div>
            <div>
              <p style="font-size: xx-small;color: gray;">9:39&nbsp;PM</p>
            </div>
          </div>
         </a>
     

    </div>
    <!-- Center Portion -->
    <div class="col-md-9 col-sm-9 center-content" style="background: aliceblue;">
     
     <!-- fisrt persons messages -->
     <div class="row" style="width: 100%;display: flex; justify-content: flex-start;">
          <div class="d-flex mt-1 ml-2">
               <div>
                 <img src="assets/images/profile.png" style="width: 50px;height: 50px; border-radius: 50%;">
               </div>
               
               <div style="margin-left: 20px;display: flex;align-items: center;">
                    <mat-card>Hey...</mat-card>
                 
               </div>
             </div>
     </div>
     <br>
      <!-- 2nd persons messages -->
      <div class="row"  style="width: 100%;display: flex; justify-content: flex-end;">
          <div class="d-flex mt-1 mr-2 ">
               
               
               <div style="margin-right: 20px;display: flex;align-items: center;">
                    <mat-card class="userCard">Hey there...</mat-card>
                 
               </div>
               <div>
                    <img src="assets/images/profile2.png" style="width: 50px;height: 50px; border-radius: 50%;">
                  </div>
             </div>
     </div>
      <!-- fisrt persons messages -->
      <div class="row" style="width: 100%;display: flex; justify-content: flex-start;">
          <div class="d-flex mt-1 ml-2">
               <div>
                 <img src="assets/images/profile.png" style="width: 50px;height: 50px; border-radius: 50%;">
               </div>
               
               <div style="margin-left: 20px;display: flex;align-items: center;">
                    <mat-card>Hey...</mat-card>
                 
               </div>
             </div>
     </div>
     <br>
      <!-- 2nd persons messages -->
      <div class="row"  style="width: 100%;display: flex; justify-content: flex-end;">
          <div class="d-flex mt-1 mr-2 ">
               
               
               <div style="margin-right: 20px;display: flex;align-items: center;">
                    <mat-card class="userCard">Hey there...</mat-card>
                 
               </div>
               <div>
                    <img src="assets/images/profile2.png" style="width: 50px;height: 50px; border-radius: 50%;">
                  </div>
             </div>
     </div>
      <!-- fisrt persons messages -->
      <div class="row" style="width: 100%;display: flex; justify-content: flex-start;">
          <div class="d-flex mt-1 ml-2">
               <div>
                 <img src="assets/images/profile.png" style="width: 50px;height: 50px; border-radius: 50%;">
               </div>
               
               <div style="margin-left: 20px;display: flex;align-items: center;">
                    <mat-card>Hey...</mat-card>
                 
               </div>
             </div>
     </div>
     <br>
      <!-- 2nd persons messages -->
      <div class="row"  style="width: 100%;display: flex; justify-content: flex-end;">
          <div class="d-flex mt-1 mr-2 ">
               
               
               <div style="margin-right: 20px;display: flex;align-items: center;">
                    <mat-card class="userCard">Hey there...</mat-card>
                 
               </div>
               <div>
                    <img src="assets/images/profile2.png" style="width: 50px;height: 50px; border-radius: 50%;">
                  </div>
             </div>
     </div>
      <!-- fisrt persons messages -->
      <div class="row" style="width: 100%;display: flex; justify-content: flex-start;">
          <div class="d-flex mt-1 ml-2">
               <div>
                 <img src="assets/images/profile.png" style="width: 50px;height: 50px; border-radius: 50%;">
               </div>
               
               <div style="margin-left: 20px;display: flex;align-items: center;">
                    <mat-card>Hey...</mat-card>
                 
               </div>
             </div>
     </div>
     <br>
      <!-- 2nd persons messages -->
      <div class="row"  style="width: 100%;display: flex; justify-content: flex-end;">
          <div class="d-flex mt-1 mr-2 ">
               
               
               <div style="margin-right: 20px;display: flex;align-items: center;">
                    <mat-card class="userCard">Hey there...</mat-card>
                 
               </div>
               <div>
                    <img src="assets/images/profile2.png" style="width: 50px;height: 50px; border-radius: 50%;">
                  </div>
             </div>
     </div>
      <!-- fisrt persons messages -->
      <div class="row" style="width: 100%;display: flex; justify-content: flex-start;">
          <div class="d-flex mt-1 ml-2">
               <div>
                 <img src="assets/images/profile.png" style="width: 50px;height: 50px; border-radius: 50%;">
               </div>
               
               <div style="margin-left: 20px;display: flex;align-items: center;">
                    <mat-card>Hey...</mat-card>
                 
               </div>
             </div>
     </div>
     <br>
      <!-- 2nd persons messages -->
      <div class="row"  style="width: 100%;display: flex; justify-content: flex-end;">
          <div class="d-flex mt-1 mr-2 ">
               
               
               <div style="margin-right: 20px;display: flex;align-items: center;">
                    <mat-card class="userCard">Hey there...</mat-card>
                 
               </div>
               <div>
                    <img src="assets/images/profile2.png" style="width: 50px;height: 50px; border-radius: 50%;">
                  </div>
             </div>
     </div>
     
    
    </div>
