<div style="height: 100px;"></div>
<div class="container-fluid">
  <div class="text-center">
    <h1 class="Main-slogan">Make Your Day</h1>
    <h1>Real People Real videos</h1>
    <button class="btn theme-btn ">
      <mat-icon class="play-icon">play_arrow</mat-icon>
      Watch now
    </button>
  </div>
  <div class="mt-5 row">
    <img class="item img-fluid col-lg-3" src="https://source.unsplash.com/random/248x280" alt="Example image">
    <img class="item img-fluid col-lg-3" src="https://source.unsplash.com/random/248x280" alt="Example image">
    <img class="item img-fluid col-lg-3" src="https://source.unsplash.com/random/248x280" alt="Example image">
    <img class="item img-fluid col-lg-3" src="https://source.unsplash.com/random/248x280" alt="Example image">
<!--    <img class="item img-fluid" src="https://source.unsplash.com/random/248x280" alt="Example image">-->
<!--    <img class="item img-fluid" src="https://source.unsplash.com/random/248x280" alt="Example image">-->
<!--    <img class="item img-fluid" src="https://source.unsplash.com/random/248x280" alt="Example image">-->

  </div>
  <!-- Contact -->
  <div class="container mt-5">
    <div class="text-center">
      <h1 class="contact">Contact</h1>
    </div>
    <div class="card mt-5">
      <div class="card-header text-center" style="background-color: white;">
        <h1 style="margin-bottom: 0px;">Vist The Help Center</h1>
        <a class="theme-clr">support/happytails.com</a>
      </div>
      <div class="card-body text-left">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <mat-icon class="contact-attribute-icon">group</mat-icon>
              </div>
              <div class="col-10">
                <h1 class="contact-attribute">Partners</h1>
                <a class="theme-clr">Advertise on Happy-Tail</a><br>
                <a class="theme-clr">Partnership Inquiry</a>

              </div>

            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <mat-icon class="contact-attribute-icon">perm_media</mat-icon>
              </div>
              <div class="col-10">
                <h1 class="contact-attribute">Media Inquiries</h1>
                <a class="theme-clr">newsroom.happytails.com</a>
              </div>

            </div>
          </div>

        </div>
        <div class="row mt-4">
          <div class="col-6 ">
            <div class="row">
              <div class="col-2">
                <mat-icon class="contact-attribute-icon">whatshot</mat-icon>
              </div>
              <div class="col-10">
                <h1 class="contact-attribute">Legal Inquiries</h1>
                <a class="theme-clr">Law Enforcement Guidelines</a><br>
                <a class="theme-clr">Intellectual Porperty</a>

              </div>

            </div>
          </div>

          <div class="col-6 ">
            <div class="row">
              <div class="col-2">
                <mat-icon class="contact-attribute-icon">vpn_lock</mat-icon>
              </div>
              <div class="col-10">
                <h1 class="contact-attribute">Privacy</h1>
                <a class="theme-clr">Learn more</a>


              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <!-- Footer -->
  <div class="container-fluid mt-5" style="background-color: #5894bd;color: white;">
    <div class="row ">
      <div class="col col-sm-12 col-md-3 mt-5">
        <a href="#" class="navbar-brand pointer"><img width="40px" src="/assets/images/happytails.png"><span
          style="margin-left: 10px;">Happy Tail</span> </a>

      </div>
      <div class="col col-sm-6 col-md-3 mt-5">

        <a>Company</a><br>
        <a>About</a><br>
        <a>Newsroom</a><br>
        <a>Contact</a><br>
        <a>Careers</a><br>


      </div>
      <div class=" col col-sm-6 col-md-3 mt-5">

        <a>Company</a><br>
        <a>About</a><br>
        <a>Newsroom</a><br>
        <a>Contact</a><br>
        <a>Careers</a><br>
      </div>
      <div class="col col-sm-6 col-md-3 mt-5">

        <a>Company</a><br>
        <a>About</a><br>
        <a>Newsroom</a><br>
        <a>Contact</a><br>
        <a>Careers</a><br>
      </div>
    </div>

    <div class="flex-container mt-4">
      <div>
        <input class="form-control" placeholder="English" type="search" list="datalistLanguage">
        <datalist id="datalistLanguage">
          <option *ngFor="let language of Languages" [ngValue]="language.Name">{{language.Name}}</option>
        </datalist>
      </div>
      <div>
        <p style="color: rgba(245, 245, 245, 0.815);"><span
          style="position: relative; top: 6px; right: 6px;">
                    <mat-icon>copyright</mat-icon></span>
          2020 HappyTail
        </p>
      </div>
    </div>

  </div>

  <!-- <div class="row">
      <div class="col-4">
          <div class="d-flex">
              <img routerLink="/home" class="pointer" style="width: 20px;height: 20px;" src="./assets/images/home.png">
              <h2 routerLink="/home" class="ml-2 pointer" style="margin-top:-5px">Home</h2>
          </div>
          <div *ngIf="isLoggedIn" class="d-flex">
              <img routerLink="/search" class="pointer" style="width: 20px;height: 20px;" src="./assets/images/search-icon.png">
              <h2 routerLink="/search" class="ml-2 pointer" style="margin-top:-5px">Search</h2>
          </div>

          <div *ngIf="!isLoggedIn" class="d-flex">
              <img routerLink="/login" class="pointer" style="width: 20px;height: 20px;" src="./assets/images/search-icon.png">
              <h2 routerLink="/login" class="ml-2 pointer" style="margin-top:-5px">Search</h2>
          </div>


          <div *ngIf="!isLoggedIn">
              <hr>
              <p>Log in to follow creators, like videos, and view comments.</p>
              <button class="login-btn" routerLink="/login">Login</button>
          </div>
          <hr>


      </div>
      <div class="col-8">

          <div *ngFor="let feed of resultList">
              <div style="width: 280px; border: 1px solid #dbdbdb; padding: 3px;">
                  <div class="d-flex">
                      <img *ngIf="feed.user.profile_picture== ''" class="sug-acc-img mr-2" src="/assets/images/default.jpg">
                      <img *ngIf="feed.user.profile_picture!=''" class="sug-acc-img mr-2" [src]="feed.user.profile_picture_url">
                      <div class="mt-2">
                          <b class="m-0">{{feed.user.name}}</b>
                      </div>
                  </div>
              </div>

              <div class="d-flex">
                  <video width="280" height="400" controls controlsList="nodownload" style="object-fit: initial;">
          <source [src]="feed.video_url" type="video/mp4">

        </video>


                  <div class="like-comment">

                      <img *ngIf="isLoggedIn" (click)="addLike(feed.id,0)" class="pointer mb-4" style="height: 30px; width: 30px;" src="./assets/images/save.png">

                      <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer mb-4" style="height: 30px; width: 30px;" src="./assets/images/save.png"><br>

                      <img *ngIf="feed.liked==0 && isLoggedIn" (click)="addLike(feed.id,1)" class="pointer" style="height: 30px; width: 30px;" src="./assets/images/unlike.png">
                      <img *ngIf="feed.liked==1 && isLoggedIn" (click)="addLike(feed.id,0)" class="pointer" style="height: 30px; width: 30px;" src="./assets/images/like.png">

                      <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer" style="height: 30px; width: 30px;" src="./assets/images/unlike.png">

                      <span class="d-flex justify-content-center mb-2">{{feed.likes}}</span>

                      <img style="height: 30px; width: 30px;" (click)="modalComments(commentsTemplate,feed.id)" src="./assets/images/comment.png">
                      <span class="d-flex justify-content-center mb-2">{{feed.saves}}</span>
                      <img style="height: 25px; width: 25px;" (click)="copyUrl()" class="mb-4" src="./assets/images/share.png"><br>

                      <img style="height: 25px; width: 25px;"  *ngIf="isLoggedIn"  class="mb-4" src="./assets/images/email.png">
                      <img style="height: 25px; width: 25px;"  *ngIf="!isLoggedIn" routerLink="/login" class="mb-4" src="./assets/images/email.png"><br>


                      <img style="height: 25px; width: 25px;" *ngIf="isLoggedIn" src="./assets/images/information.png">
                      <img style="height: 25px; width: 25px;" *ngIf="!isLoggedIn"  routerLink="/login" src="./assets/images/information.png">

                  </div>
              </div>
              <hr>
          </div>
      </div>
  </div> -->
</div>


<ng-template #commentsTemplate>

  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modalTitle extrabold mt-1 mb-1">Comments</h3>
    <hr class="new3">
    <div>
      <div *ngIf="resultListComment.length==0">
        <span class="ml-1">No Comments</span>
      </div>
      <div *ngFor="let comment of resultListComment; let i=index">
        <div class="row ml-1 mr-1 mb-2">

          <div class="comment-username">
            <img *ngIf="comment.user.profile_picture_url!=null" [src]="comment.user.profile_picture_url"
                 class="comment-acc pointer">
            <!-- <img *ngIf="comment.user.profile_picture_url==null" src="./assets/images/default.png" class="comment-acc pointer"> -->

          </div>
          <div class="ml-2 comment-space">
            <div class="d-flex">
              <b class="pointer">{{comment.user.name}}</b>
            </div>

            <span class="comment-lenght">{{comment.comment}}</span>

          </div>
        </div>
      </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="row" *ngIf="commentModalToggle==true && isLoggedIn">
            <span class="comment-bar p-1">
              <input type="text" maxlength="150" name="comment" [(ngModel)]="comment"
                     (ngModelChange)="removeErrors('#l11')"
                     required class="comment-input-field" type="text" placeholder="comment" aria-label="comment"
                     (keyup.enter)="checkComment()">
              <img height="20px" src="./assets/images/enter.png" type="submit" class="comment-btn"
                   (click)=checkComment()>
            </span>
      <span class="help-block position-absolute" style="    margin-top: 30px;
            margin-left: 20px;" id="l11"></span>
    </div>
  </div>
</ng-template>
