<mat-drawer-container>
  <mat-drawer #drawer>
    <div class="ml-5 mr-5 my-3 theme-clr">
      <div>
        <a (click)="drawer.close()" style="cursor: pointer;">
          <mat-icon>close</mat-icon>
        </a>
      </div>
      <div class="mt-5">
        <a href="#" class="navbar-brand pointer"><img width="40px" src="/assets/images/happytails.png"><span
          style="margin-left: 10px;color:#000000d4;">Happy Tail</span> </a>
      </div>
      <div class="mt-5 ">
        <a>For You</a><br>
        <a>Discover</a>
      </div>
      <div class="mt-3 ">
        <p class="side-p">Company</p>
        <a>About</a><br>
        <a>Newsroom</a><br>
        <a>Contact</a>

      </div>
      <div class="mt-3 ">
        <p class="side-p">Programs</p>
        <a>HappyTail for Good</a><br>
        <a>Advertise</a><br>


      </div>
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <nav class="navbar navbar-expand-md navbar-light  fixed-top" style="background-color: white;">
      <div class="container-fluid" style="padding-bottom: 11px; border-bottom: 1px solid #c0bdbd4f;">
                <span>

                <span *ngIf="!isLoggedIn"><a (click)="drawer.toggle()"
                                             style="cursor: pointer;margin-right: 10px;font-size: 25px;">☰ </a></span>
                <a href="#" class="navbar-brand pointer"><img width="40px" src="/assets/images/happytails.png"><span
                  style="margin-left: 10px;">Happy Tail</span> </a>
            </span>
        <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- id="navbarCollapse" -->

        <div class="  justify-content-between">
          <div class="navbar-nav">
            <!-- <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">Profile</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Sent</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                </div>
            </div> -->
          </div>
          <form class="form-inline">
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
              </div> -->
            </div>
          </form>

          <!-- <div *ngIf="isLoggedIn">
              <img class="profile-img" [src]="profile">
          </div> -->
          <div class=" right">

            <div class="navbar-nav" *ngIf="!isLoggedIn">
              <span><a><mat-icon class="upload-icon" style="top:5px;">cloud_upload</mat-icon></a></span>
              <a class="btn theme-btn " (click)="loginModal.show()">Login</a>
            </div>
            <!-- <span class="mt-2 mr-2" type="button" data-toggle="dropdown" *ngIf="isLoggedIn">
                <img class="profile-img" [src]="profile"></span>
            <ul class="dropdown-menu dropdown-mange">

                <li class="pointer dropdown-manges" routerLink="/profile">
                    <span >Profile</span>
                </li>

                <li class="pointer dropdown-manges">

                    <div class="navbar-nav" *ngIf="isLoggedIn">
                        <span (click)="signOut()">Log Out</span>
                    </div>
                </li>
            </ul> -->
            <div class="btn-group" dropdown *ngIf="isLoggedIn">
              <span><a><mat-icon class="upload-icon ">cloud_upload</mat-icon></a></span>
              <span><a [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon
                class="notification-icon"> bubble_chart</mat-icon></a></span>
              <span id="button-basic" dropdownToggle type="button" class="mt-2  dropdown-toggle"
                    aria-controls="dropdown-basic">
                                    <img class="profile-img" src="assets/images/profile.png">
                            </span>
              <ul id="dropdown-basic " *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
                <li role="menuitem"><a style="color: rgba(212, 81, 29, 0.986);" class="dropdown-item"
                                       (click)="signOut()">Log Out</a></li>


              </ul>
            </div>
          </div>


        </div>
      </div>
    </nav>

    <button id="imageBtn" hidden (click)="imageChange()">change</button>

    <router-outlet></router-outlet>


    <!-- <button class="btn btn-primary" (click)="loginModal.show()">Large modal</button> -->


  </mat-drawer-content>
</mat-drawer-container>
<!-- Menu For Notification -->

<mat-menu #menu="matMenu">

  <h2 class="pl-1 py-1">Notification</h2>
  <mat-button-toggle-group [(ngModel)]="fontStyle" name="favoriteColor" aria-label="Favorite Color"
                           (click)="$event.stopPropagation();$event.preventDefault();">
    <mat-button-toggle value="All" (click)="NotificationFetcher()">All</mat-button-toggle>
    <mat-button-toggle value="Likes">Likes</mat-button-toggle>
    <mat-button-toggle value="Comments">Comments</mat-button-toggle>
    <mat-button-toggle value="Followers">Followers</mat-button-toggle>
  </mat-button-toggle-group>
  <p>Chosen value is {{fontStyle}}</p>
  <p style="color: gray;font-size: small; " class="pl-1">New</p>
  <!-- for comment -->
  <div class="d-flex m-1" style="justify-content: space-between;">
    <div class="d-flex">
      <div>
        <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
      </div>
      <div style="margin-left: 10px;">
        <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
        <p style="font-size: xx-small;">commented: hi <span style="color: gray;">&nbsp;1h</span></p>
      </div>
    </div>
    <div>
      <img src="assets/images/profile2.png" style="width: 30px;height: 35px; ">
    </div>
  </div>
  <!-- for following -->
  <div class="d-flex m-1" style="justify-content: space-between;">
    <div class="d-flex">
      <div>
        <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
      </div>
      <div style="margin-left: 10px;">
        <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">Yeilin</p>
        <p style="font-size: xx-small;">is following you <span style="color: gray;">&nbsp;1h</span></p>
      </div>
    </div>
    <div>
      <button class="btn theme-btn right-input-style" style="font-size: 10px;" type="button">Follow Back</button>
    </div>
    <!--  -->
  </div>
  <div class="d-flex m-1" style="justify-content: space-between;">
    <div class="d-flex">
      <div>
        <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
      </div>
      <div style="margin-left: 10px;">
        <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">Misandy</p>
        <p style="font-size: xx-small;">is following you <span style="color: gray;">&nbsp;1h</span></p>
      </div>
    </div>
    <div>
      <button class="btn theme-btn right-input-style" style="font-size: 10px;" type="button">Follow Back</button>
    </div>
  </div>
  <!--Previous Work  -->
  <p style="color: gray;font-size: small; " class="pl-1">Today</p>
  <div class="d-flex m-1" style="justify-content: space-between;">
    <div class="d-flex">
      <div>
        <img src="assets/images/profile.png" style="width: 30px;height: 30px; border-radius: 50%;">
      </div>
      <div style="margin-left: 10px;">
        <p style="font-size: 9px;font-weight: bold;margin-bottom: -7px;">cindy58974</p>
        <p style="font-size: xx-small;">Likes your Video <span style="color: gray;">&nbsp;1h</span></p>
      </div>
    </div>
    <div>
      <img src="assets/images/profile2.png" style="width: 30px;height: 35px; ">
    </div>
  </div>
  <!-- <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button> -->

</mat-menu>

<!-- Login Modal -->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4> -->
        <button type="button" class="btn-close close pull-right" (click)="loginModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body ">

        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 " style="text-align: center;">
            <h1 class="no-marginBottom">Log in to Happy-Tail</h1>
            <p style="color: #bcbcbd;">Manage Your account, check notifications, comment on videos, and more</p>
            <div class="overflow-auto" style="height: 300px; width: auto;">
              <button type="button" class="btn  btn1" routerLink="login">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11">
                    Use email /username
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">

                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with Facebook
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with Google
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with Twitter
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with LINE
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with KakaoTalk
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11" style="padding: 0;">
                    Log in with Apple
                  </div>
                </div>
              </button>

            </div>
            <p class="mt-3" style="text-align: center;">
              Dont have an account? <a (click)="SignUpModal.show();loginModal.hide()" style="color: #5894bd">Sign
              up </a>
            </p>

          </div>
          <div class="col-3"></div>


        </div>
      </div>
      <div class="modal-footer">
        <a class=" pull-right" style="color: #bcbcbd;">
          <span><mat-icon class="help-icon">help</mat-icon></span>Feedback and help
        </a>
      </div>

    </div>
  </div>
</div>

<!-- Signup Modal -->
<div bsModal #SignUpModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4> -->
        <button type="button" class="btn-close close pull-right" (click)="SignUpModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body ">

        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 " style="text-align: center;">
            <h1 class="no-marginBottom">Sign up to Happy-Tail</h1>
            <p style="color: #bcbcbd;">Create a profile, follow other accounts, make your own videos, and more</p>
            <div>
              <button type="button" class="btn  btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11">
                    Use email /username
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">

                  </div>
                  <div class="col-11">
                    Sign up with Facebook
                  </div>
                </div>
              </button>
              <button type="button" class="btn btn-light btn1">
                <div class="row">
                  <div class="col-1">
                    <mat-icon>person</mat-icon>
                  </div>
                  <div class="col-11">
                    Sign up with Google
                  </div>
                </div>
              </button>
            </div>
            <p style="color: #bcbcbd;" class="mt-5">
              By Continuing you agree to HappyTail's <span style="color: black;"><a>Terms of Use</a></span> and confirm
              that you have read HappyTail's <span style="color: black;"><a>Privacy Policy</a></span>
            </p>
            <p class="mt-3" style="text-align: center;">
              Already have an account? <a (click)="SignUpModal.hide();loginModal.show()" style="color: #5894bd">Log
              in </a>
            </p>
          </div>
          <div class="col-3"></div>

        </div>
      </div>
      <div class="modal-footer">
        <a class=" pull-right" style="color: #bcbcbd;">
          <span><mat-icon class="help-icon">help</mat-icon></span>Feedback and help
        </a>
      </div>

    </div>
  </div>
</div>
