<div class="container-fluid " style="margin-top: 100px;">
  <div class="row">
    <!-- Left Portion -->
    <div class="col-md-3 col-sm-3">
      <p style="color: #343638;">
        <mat-icon>home</mat-icon>
        <span class="left-span-text">For You</span></p>
      <p style="color: #343638;">
        <mat-icon>supervisor_account</mat-icon>
        <span class="left-span-text">Following</span></p>
      <!--      <hr>-->
      <div class="ml-1" style="margin-top: 75px">
        <p class="quote-style">Log in to save animals in need</p>
        <p class="quote-style">Like, comment, share, rescue and adopt</p>
        <div style="display: flex; ">
          <!--          <div>-->
          <!--            <img src="assets/images/user.png" style="width:30px;height: 30px;border-radius: 50%;">-->
          <!--          </div>-->
          <div style="margin-left: 15px;margin-top: 20px">
            <button class="btn btn-lg btn-info login-button-style">Login</button>
          </div>
        </div>
        <!--        <a class="theme-clr" style="font-size: 17px;font-weight: 500;">See all <span style="position: absolute;"><mat-icon-->
        <!--          style="font-size: 23px;">keyboard_arrow_down</mat-icon></span></a>-->
      </div>
      <hr>
      <p style="color:gray;font-weight: 500;">
        <a>&nbsp;Home</a>
        <a>&nbsp;About</a>

      </p>
      <p style="color:gray;font-weight: 500; display: block;">

        <a>&nbsp;Help</a>
        <a>&nbsp;Safety</a>
        <a>&nbsp;Terms</a>
        <a>&nbsp;Privacy</a>
        <a>&nbsp;Copyright</a>
      </p>
      <p style="color:gray">
               <span>
               <mat-icon style="position: absolute;">copyright</mat-icon> <span
                 style="position: relative;left: 30px;top: 2px;">2020 HappyTail</span>
          </span>
      </p>
    </div>
    <!-- Center Portion -->
    <div class="col-md-6 col-sm-6" style="overflow: auto; height: 100vh">
      <!--      <mat-tab-group animationDuration="0ms">-->
      <!--        <mat-tab label="Videos">Videos Sections-->
      <div *ngFor="let feed of resultList">
        <div style="width: 280px; padding: 13px;">
          <div class="d-flex">
            <img *ngIf="feed.user.profile_picture== ''" class="sug-acc-img mr-2" src="/assets/images/default.jpg">
            <img *ngIf="feed.user.profile_picture!=''" class="sug-acc-img mr-2"
                 [src]="feed.user.profile_picture_url">
            <div class="mt-2">
              <b class="m-0">{{feed.user.name}}</b>
            </div>
          </div>
        </div>

        <div class="d-flex" style="margin-left: 58px;">
          <video  width="280" height="400" controls controlsList="nodownload"
                 style="object-fit: initial;border-radius: 8px">
            <source [src]="feed.video_url" type="video/mp4">

          </video>
          <div class="like-comment">

            <!--            <img *ngIf="isLoggedIn" (click)="addLike(feed.id,0)" class="pointer mb-4"-->
            <!--                 style="height: 30px; width: 30px;" src="./assets/images/save.png">-->

            <!--            <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer mb-4" style="height: 30px; width: 30px;"-->
            <!--                 src="./assets/images/save.png"><br>-->

            <img *ngIf="feed.liked==0 && isLoggedIn" (click)="addLike(feed.id,1)" class="pointer"
                 style="height: 30px; width: 30px;" src="./assets/images/unlike.png">
            <img *ngIf="feed.liked==1 && isLoggedIn" (click)="addLike(feed.id,0)" class="pointer"
                 style="height: 30px; width: 30px;" src="./assets/images/like.png">

            <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer" style="height: 30px; width: 30px;"
                 src="./assets/images/unlike.png">

            <span class="d-flex justify-content-center mb-2">{{feed.likes}}</span>

            <img *ngIf="!isLoggedIn" routerLink="/login" style="height: 30px; width: 30px;"

                 src="./assets/images/comment.png">
            <img *ngIf="isLoggedIn" style="height: 30px; width: 30px;" (click)="modalComments(commentsTemplate,feed.id)"
                 src="./assets/images/comment.png">
            <span class="d-flex justify-content-center mb-2">{{feed.saves}}</span>
            <img *ngIf="!isLoggedIn" routerLink="/login" style="height: 25px; width: 25px;"
                 (click)="copyUrl(feed.productId)" class="mb-4"
                 src="./assets/images/share.png"><br>
            <img *ngIf="isLoggedIn" style="height: 25px; width: 25px;" (click)="copyUrl(feed.productId)" class="mb-4"
                 src="./assets/images/share.png"><br>

            <!--            <img style="height: 25px; width: 25px;" *ngIf="isLoggedIn" class="mb-4" src="./assets/images/email.png">-->
            <!--            <img style="height: 25px; width: 25px;" *ngIf="!isLoggedIn" routerLink="/login" class="mb-4"-->
            <!--                 src="./assets/images/email.png"><br>-->


            <!--            <img style="height: 25px; width: 25px;" *ngIf="isLoggedIn" src="./assets/images/information.png">-->
            <!--            <img style="height: 25px; width: 25px;" *ngIf="!isLoggedIn" routerLink="/login"-->

          </div>
        </div>
      </div>
      <!--        </mat-tab>-->
      <!--        <mat-tab label="Likes">Likes Section</mat-tab>-->

      <!--      </mat-tab-group>-->

    </div>
    <!-- Right Portion -->
<!--    <div class="col-md-3 col-sm-3">-->
<!--      <div style="display: flex;">-->
<!--        <mat-icon style="color: greenyellow;">contact_support</mat-icon>-->
<!--        <mat-icon style="color: blue;">contact_support</mat-icon>-->
<!--        <mat-icon style="color: chocolate;">contact_support</mat-icon>-->
<!--        <mat-icon style="color:crimson;">contact_support</mat-icon>-->
<!--      </div>-->
<!--      <p class="mt-4" style="color: #1b1726;font-size: 20px;font-weight: bold;">-->
<!--        Text yourself a link to download HappyTail-->
<!--      </p>-->
<!--      <hr>-->
<!--      <div style="display: flex;">-->
<!--        <div style="width: 35%;">-->
<!--          <input type="number" class="form-control right-input-style" placeholder="PH + 63">-->
<!--        </div>-->
<!--        <div>-->
<!--          <input type="tel" class="form-control right-input-style" placeholder="phone number">-->
<!--        </div>-->
<!--        <div>-->
<!--          <button class="btn theme-btn right-input-style" type="button">Send</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p style="color: gray; text-align: center;font-size: x-small; margin-top: 10px;">-->
<!--        By clicking the "send button, you confirm that you agree to our-->
<!--        <a style="text-decoration: underline;">Terms of Use</a>-->
<!--        and acknowledge you have read and understood our-->
<!--        <a style="text-decoration: underline;">Privacy Policy</a>-->
<!--      </p>-->
<!--      <div style="display: flex;">-->
<!--        <button class="form-control" style="background-color: black; color: white;">App Store</button>-->
<!--      </div>-->
<!--      <div style="display: flex;">-->
<!--        <button class="form-control" style="background-color: black; color: white;">Google Play</button>-->
<!--      </div>-->
<!--      <div style="display: flex;">-->
<!--        <button class="form-control" style="background-color: black; color: white;">amazon appstore</button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
