<div class="container-fluid " style="margin-top: 100px;">
  <div class="row">
    <!-- Left Portion -->
    <div class="col-md-3 col-sm-3">
      <p class="theme-clr">
        <a>
        <mat-icon>home</mat-icon>
        <span class="left-span-text theme-clr">For You</span>
      </a>
      </p>
      <p style="color: #343638;">
        <a>
        <mat-icon>supervisor_account</mat-icon>
        <span class="left-span-text">Following</span></a></p>
        <div class="hideSection-smallScreen">
      <hr>
      <div class="ml-1">
        <p style="color: gray;">Your Top accounts</p>
        <div style="display: flex; ">
          <div>
            <img src="assets/images/user.png" style="width:30px;height: 30px;border-radius: 50%;">
          </div>
          <div style="margin-left: 15px;">
            <p style="font-size: 15px;font-weight: bold;margin-bottom: -7px;">cindy58974<span><mat-icon
              style="font-size: 13px; color: #2dcbd4;">check_circle</mat-icon></span></p>
            <p>cindy</p>
          </div>
        </div>
        <a class="theme-clr" style="font-size: 17px;font-weight: 500;">See all <span style="position: absolute;"><mat-icon
          style="font-size: 23px;">keyboard_arrow_down</mat-icon></span></a>
      </div>
      <hr>
      <p style="color:gray;font-weight: 500;">
        <a>&nbsp;Home</a>
        <a>&nbsp;About</a>

      </p>
      <p style="color:gray;font-weight: 500; display: block;">

        <a>&nbsp;Help</a>
        <a>&nbsp;Safety</a>
        <a>&nbsp;Terms</a>
        <a>&nbsp;Privacy</a>
        <a>&nbsp;Copyright</a>
      </p>
      <p style="color:gray">
               <span>
               <mat-icon style="position: absolute;">copyright</mat-icon> <span
                 style="position: relative;left: 30px;top: 2px;">2020 HappyTail</span>
          </span>
      </p>
    </div>
    </div>
    <!-- Center Portion -->
    <div class="col-md-6 col-sm-6 center-content">

      <div style="display: flex; ">
        <div>
          <img src="assets/images/user.png" style="width:60px;height: 60px;border-radius: 50%;">
        </div>
        <div style="margin-left: 15px;">
          <p style="margin-top: 9px;font-size: 25px;font-weight: bold;margin-bottom: -5px;">cindy58974<span><mat-icon
            style="font-size: 13px; color: #2dcbd4;">check_circle</mat-icon></span></p>
          <p style="font-size: 15px;font-weight: 500;">mark zukerberg</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="ml-1 mr-1">
          <p style="color:lightgray"><span style="color:gray">1</span>&nbsp; Following </p>
        </div>
        <div class="ml-1 mr-1">
          <p style="color:lightgray"><span style="color:gray">0</span>&nbsp; Followers </p>
        </div>
        <div class="ml-1 mr-1">
          <p style="color:lightgray"><span style="color:gray">1</span>&nbsp; Likes </p>
        </div>
      </div>
      <div class="d-flex">
        <p style="color: #414444;">No bio yet.</p>
      </div>

      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Videos">Videos Sections
          <div *ngFor="let feed of resultList">
            <div style="width: 280px; padding: 13px;">
              <div class="d-flex">
                <img *ngIf="feed.user.profile_picture== ''" class="sug-acc-img mr-2" src="/assets/images/default.jpg">
                <img *ngIf="feed.user.profile_picture!=''" class="sug-acc-img mr-2"
                     [src]="feed.user.profile_picture_url">
                <div class="mt-2">
                  <b class="m-0">{{feed.user.name}}</b>
                </div>
              </div>
            </div>

            <div class="d-flex" >
              <video width="300" height="400" controls controlsList="nodownload" style="object-fit: initial;border-radius: 8px">
                <source [src]="feed.video_url" type="video/mp4">

              </video>
              
              <div class="like-comment hideSection-smallScreen">

                <img *ngIf="isLoggedIn" (click)="addLike(feed.id,0)" class="pointer mb-4"
                     style="height: 30px; width: 30px;" src="./assets/images/save.png">

                <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer mb-4" style="height: 30px; width: 30px;"
                     src="./assets/images/save.png"><br>

                <img *ngIf="feed.liked==0 && isLoggedIn" (click)="addLike(feed.id,1)" class="pointer"
                     style="height: 30px; width: 30px;" src="./assets/images/unlike.png">
                <img *ngIf="feed.liked==1 && isLoggedIn" (click)="addLike(feed.id,0)" class="pointer"
                     style="height: 30px; width: 30px;" src="./assets/images/like.png">

                <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer" style="height: 30px; width: 30px;"
                     src="./assets/images/unlike.png">

                <span class="d-flex justify-content-center mb-2">{{feed.likes}}</span>

                <img style="height: 30px; width: 30px;" (click)="modalComments(commentsTemplate,feed.id)"
                     src="./assets/images/comment.png">
                <span class="d-flex justify-content-center mb-2">{{feed.saves}}</span>
                <img style="height: 25px; width: 25px;" (click)="copyUrl(feed.productId)" class="mb-4"
                     src="./assets/images/share.png"><br>

                <img style="height: 25px; width: 25px;" *ngIf="isLoggedIn" class="mb-4" src="./assets/images/email.png">
                <img style="height: 25px; width: 25px;" *ngIf="!isLoggedIn" routerLink="/login" class="mb-4"
                     src="./assets/images/email.png"><br>


                <img style="height: 25px; width: 25px;" *ngIf="isLoggedIn" src="./assets/images/information.png">
                <img style="height: 25px; width: 25px;" *ngIf="!isLoggedIn" routerLink="/login"
                     src="./assets/images/information.png">

              </div>
            </div>
            <div class="hideSection-LargeScreens">
            <div class="like-comment d-flex">

              <img style="margin: 0;margin-left: 10px;" *ngIf="isLoggedIn" (click)="addLike(feed.id,0)" class="pointer mb-4 likesIcon"
                   src="./assets/images/save.png">

              <img style="margin: 0;margin-left: 10px;" *ngIf="!isLoggedIn" routerLink="/login" class="pointer mb-4 likesIcon" 
                   src="./assets/images/save.png"><br>

              <img *ngIf="feed.liked==0 && isLoggedIn" (click)="addLike(feed.id,1)" class="pointer likesIcon"
                   src="./assets/images/unlike.png">
              <img *ngIf="feed.liked==1 && isLoggedIn" (click)="addLike(feed.id,0)" class="pointer likesIcon"
                    src="./assets/images/like.png">

              <img *ngIf="!isLoggedIn" routerLink="/login" class="pointer likesIcon"
                   src="./assets/images/unlike.png">

              <span class="d-flex justify-content-center mb-2 likesText">{{feed.likes}}</span>

              <img  (click)="modalComments(commentsTemplate,feed.id)" class="likesIcon"
                   src="./assets/images/comment.png">
              <span class="d-flex justify-content-center mb-2 likesText">{{feed.saves}}</span>
              <img  (click)="copyUrl(feed.productId)" class="mb-4 likesIcon"
                   src="./assets/images/share.png"><br>

              <img  *ngIf="isLoggedIn" class="mb-4 likesIcon" src="./assets/images/email.png">
              <img  *ngIf="!isLoggedIn" routerLink="/login" class="mb-4 likesIcon"
                   src="./assets/images/email.png"><br>


              <img style="margin: 0;" *ngIf="isLoggedIn" src="./assets/images/information.png" class="likesIcon">
              <img style="margin: 0;" *ngIf="!isLoggedIn" routerLink="/login" class="likesIcon"
                   src="./assets/images/information.png">

            </div>
          </div>
          </div>
        </mat-tab>
        <mat-tab label="Likes">Likes Section</mat-tab>

      </mat-tab-group>

    </div>
    <!-- Right Portion -->
    <div class="col-md-3 col-sm-3 hideSection-smallScreen">
      <div style="display: flex;">
        <mat-icon style="color: greenyellow;">contact_support</mat-icon>
        <mat-icon style="color: blue;">contact_support</mat-icon>
        <mat-icon style="color: chocolate;">contact_support</mat-icon>
        <mat-icon style="color:crimson;">contact_support</mat-icon>
      </div>
      <p class="mt-4" style="color: #1b1726;font-size: 20px;font-weight: bold;">
        Text yourself a link to download HappyTail
      </p>
      <hr>
      <div style="display: flex;">
        <div style="width: 35%;">
          <input type="number" class="form-control right-input-style" placeholder="PH + 63">
        </div>
        <div>
          <input type="tel" class="form-control right-input-style" placeholder="phone number">
        </div>
        <div>
          <button class="btn theme-btn right-input-style" type="button">Send</button>
        </div>
      </div>
      <p style="color: gray; text-align: center;font-size: x-small; margin-top: 10px;">
        By clicking the "send button, you confirm that you agree to our
        <a style="text-decoration: underline;">Terms of Use</a>
        and acknowledge you have read and understood our
        <a style="text-decoration: underline;">Privacy Policy</a>
      </p>
      <div style="display: flex;">
        <button class="form-control" style="background-color: black; color: white;">App Store</button>
      </div>
      <div style="display: flex;">
        <button class="form-control" style="background-color: black; color: white;">Google Play</button>
      </div>
      <div style="display: flex;">
        <button class="form-control" style="background-color: black; color: white;">amazon appstore</button>
      </div>
    </div>
  </div>
</div>
